# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
postcss.config.js
tailwind.config.js
.vitepress/dist
node_modules
.vitepress/cache
.vitepress/theme/styles
.vitepress/theme/styles.css
.vitepress/theme/styles.js 
.vitepress/theme/styles.css.map
.vitepress/theme/styles.js.map
